.header {
  margin: 0 auto;
  padding-left: 50px;
  width: 1150px;
  height: 100px;
}
.header img {
  float: left;
  width: 350px;
  height: 100px;
}
.header ul {
  float: left;
  width: 650px;
  height: 60px;
  padding: 20px 50px;
}
.header ul li {
  float: left;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.header ul li.active,
.header ul li:hover {
  border-bottom: 2px solid #0f99f4;
}
.header ul li.active a,
.header ul li:hover a {
  color: #0f99f4;
}
body.main {
  width: 100%;
}
body.main .banner {
  position: relative;
  height: 500px;
}
body.main .banner ul {
  position: absolute;
  z-index: 10;
  left: 45%;
  bottom: 20px;
  width: 250px;
  height: 20px;
}
body.main .banner ul li {
  float: left;
  width: 10px;
  height: 10px;
  margin-right: 30px;
  border-radius: 5px;
  background-color: #3e3a3a;
}
body.main .banner ul li.active {
  background-color: aqua;
}
body.main .banner .bannerInner {
  position: relative;
}
body.main .banner .bannerInner img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 500px;
  opacity: 0;
  filter: alpha(opacity=0);
}
body.main .banner .bannerInner img.active {
  -webkit-animation: bannerAni1 2.5s ease both;
  -o-animation: bannerAni1 2.5s ease both;
  animation: bannerAni1 2.5s ease both;
}
@keyframes bannerAni1 {
  from {
    opacity: 0.2;
    filter: alpha(opacity=20);
  }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
body.main .list {
  padding-top: 50px;
  width: 100%;
  height: 200px;
  color: #fff;
  background-color: #50b0fd;
}
body.main .list ul {
  margin: 0 auto;
  width: 900px;
  height: 200px;
}
body.main .list ul li {
  margin-right: 25px;
  width: 200px;
  height: 200px;
  text-align: center;
  float: left;
}
body.main .list ul li img {
  margin-bottom: 20px;
}
body.main .list ul li h3 {
  font-size: 18px;
  line-height: 40px;
}
body.main .list ul li p {
  font-size: 14px;
  line-height: 20px;
}
body.main .imgList img {
  width: 100%;
  height: 300px;
  margin-top: 30px;
}
body.main .service_ranges {
  padding-top: 80px;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 400px;
}
body.main .service_ranges .box {
  position: absolute;
  top: 0;
  left: 50%;
}
body.main .service_ranges .box .s_header {
  margin-left: -50%;
  width: 300px;
  height: 150px;
  background-color: #f8f8ff;
}
body.main .service_ranges .box .s_header h2 {
  padding-top: 30px;
  font-size: 28px;
  font-weight: 100;
  line-height: 38px;
  text-align: center;
}
body.main .service_ranges .box .s_header span {
  display: inline-block;
  margin-left: 125px;
  width: 50px;
  height: 4px;
  text-align: center;
  background-color: #0f99f4;
}
body.main .service_ranges .box .s_header p {
  font-size: 14px;
  line-height: 70px;
  text-align: center;
  color: grey;
}
body.main .service_ranges ul {
  width: 965px;
  padding-top: 80px;
  padding-left: 25px;
  border-top: 1px solid #ddd;
  margin: 0 auto;
  overflow: hidden;
}
body.main .service_ranges ul li {
  margin-right: 20px;
  float: left;
}
body.main .service_step {
  padding-top: 80px;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 400px;
  background: url("../images/step_bg.jpg") no-repeat;
  background-size: 100% 100%;
}
body.main .service_step .box {
  position: absolute;
  top: 0;
  left: 50%;
}
body.main .service_step .box .s_header {
  margin-left: -50%;
  width: 300px;
  height: 150px;
}
body.main .service_step .box .s_header h2 {
  padding-top: 30px;
  font-size: 28px;
  font-weight: 100;
  line-height: 38px;
  text-align: center;
}
body.main .service_step .box .s_header div {
  display: inline-block;
  margin-left: 50px;
  width: 200px;
  height: 4px;
  text-align: center;
  background: url("../images/step_bg.jpg") no-repeat;
}
body.main .service_step .box .s_header div span {
  position: absolute;
  top: 80px;
  left: -25px;
  display: inline-block;
  width: 50px;
  height: 4px;
  background-color: #0f99f4;
}
body.main .service_step .box .s_header p {
  font-size: 14px;
  line-height: 70px;
  text-align: center;
  color: grey;
}
body.main .service_step ul {
  overflow: hidden;
  width: 965px;
  padding-top: 120px;
  border-top: 1px solid #ddd;
  margin: 0 auto;
}
body.main .service_step ul li {
  float: left;
  margin-right: 12px;
}
body.main .service_step ul .first {
  margin-left: 7px;
}
body.main .service_step ul .point {
  margin-top: 35px;
}
body.main .service_promise {
  padding-top: 80px;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 400px;
}
body.main .service_promise .box {
  position: absolute;
  top: 0;
  left: 50%;
}
body.main .service_promise .box .s_header {
  margin-left: -50%;
  width: 300px;
  height: 150px;
  background-color: #f8f8ff;
}
body.main .service_promise .box .s_header h2 {
  padding-top: 30px;
  font-size: 28px;
  font-weight: 100;
  line-height: 38px;
  text-align: center;
}
body.main .service_promise .box .s_header span {
  display: inline-block;
  margin-left: 125px;
  width: 50px;
  height: 4px;
  text-align: center;
  background-color: #0f99f4;
}
body.main .service_promise .box .s_header p {
  font-size: 14px;
  line-height: 70px;
  text-align: center;
  color: grey;
}
body.main .service_promise ul {
  width: 960px;
  padding-top: 80px;
  padding-left: 40px;
  border-top: 1px solid #ddd;
  margin: 0 auto;
  overflow: hidden;
}
body.main .service_promise ul li {
  width: 220px;
  margin-right: 20px;
  float: left;
}
body.main .service_promise ul li h3 {
  padding-top: 20px;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
}
body.main .service_promise ul li p {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: grey;
}
.s_ranges {
  width: 100%;
}
.s_ranges .banner {
  width: 100%;
}
.s_ranges .banner img {
  width: 100%;
  height: 380px;
}
.s_ranges .repairs,
.s_ranges .clean,
.s_ranges .house {
  overflow: hidden;
  margin: 0 auto;
  width: 1000px;
}
.s_ranges .repairs .re_header,
.s_ranges .clean .re_header,
.s_ranges .house .re_header,
.s_ranges .repairs .cl_header,
.s_ranges .clean .cl_header,
.s_ranges .house .cl_header,
.s_ranges .repairs .hs_header,
.s_ranges .clean .hs_header,
.s_ranges .house .hs_header {
  padding: 30px 0 20px;
}
.s_ranges .repairs .re_header .hd,
.s_ranges .clean .re_header .hd,
.s_ranges .house .re_header .hd,
.s_ranges .repairs .cl_header .hd,
.s_ranges .clean .cl_header .hd,
.s_ranges .house .cl_header .hd,
.s_ranges .repairs .hs_header .hd,
.s_ranges .clean .hs_header .hd,
.s_ranges .house .hs_header .hd {
  padding-left: 15px;
  font-size: 20px;
  color: black;
  float: left;
  border-left: 4px solid #0f99f4;
}
.s_ranges .repairs .re_header span,
.s_ranges .clean .re_header span,
.s_ranges .house .re_header span,
.s_ranges .repairs .cl_header span,
.s_ranges .clean .cl_header span,
.s_ranges .house .cl_header span,
.s_ranges .repairs .hs_header span,
.s_ranges .clean .hs_header span,
.s_ranges .house .hs_header span {
  float: right;
  color: grey;
}
.s_ranges .repairs .item,
.s_ranges .clean .item,
.s_ranges .house .item {
  float: left;
  padding: 5px;
  margin: 30px 20px 0 0;
  width: 220px;
  color: grey;
  background-color: #f7f6f6;
}
.s_ranges .repairs .item div.box,
.s_ranges .clean .item div.box,
.s_ranges .house .item div.box {
  height: 250px;
}
.s_ranges .repairs .item div.box h3,
.s_ranges .clean .item div.box h3,
.s_ranges .house .item div.box h3 {
  font-weight: 100;
  font-size: 17px;
  line-height: 60px;
}
.s_ranges .repairs .item div.box p,
.s_ranges .clean .item div.box p,
.s_ranges .house .item div.box p {
  font-size: 14px;
  line-height: 25px;
}
.s_ranges .repairs .item div.box p span,
.s_ranges .clean .item div.box p span,
.s_ranges .house .item div.box p span {
  color: #0f99f4;
}
.s_ranges .repairs .item .detail,
.s_ranges .clean .item .detail,
.s_ranges .house .item .detail {
  margin: 30px auto;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #0f99f4;
  color: white;
}
.s_ranges .clean .cl_header {
  padding: 50px 0 20px;
}
.s_ranges .clean .item div.box {
  height: 140px;
}
.s_ranges .house form {
  margin: 30px auto;
  width: 800px;
}
.s_ranges .house form .form-group {
  padding: 20px 40px;
  position: relative;
}
.s_ranges .house form .form-group input {
  width: 600px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}
.s_ranges .house form .form-group span {
  width: 20px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: red;
}
.s_ranges .house form .form-group .star {
  position: absolute;
  top: 25px;
  left: 715px;
}
.s_ranges .house form .form-group .text {
  position: absolute;
  top: 25px;
  left: 35px;
  display: inline-block;
  height: 120px;
}
.s_ranges .house form .form-group textarea {
  margin-left: 65px;
  width: 600px;
  max-width: 600px;
  height: 120px;
  font-size: 16px;
  line-height: 30px;
}
.s_ranges .house form .tip {
  display: none;
  margin: 0 auto;
  width: 650px;
  height: 30px;
  color: red;
  line-height: 30px;
  text-align: center;
  background-color: #fbfcbe;
}
.s_ranges .house form .submit {
  display: inline-block;
  margin: 20px 250px;
  width: 300px;
  height: 40px;
  color: white;
  line-height: 40px;
  text-align: center;
  border: none;
  background-color: #44abf5;
  cursor: pointer;
}
.s_caption {
  width: 100%;
}
.s_caption .banner {
  width: 100%;
}
.s_caption .banner img {
  width: 100%;
  height: 380px;
}
.s_caption .caption {
  margin: 35px auto;
  width: 900px;
}
.s_caption .caption .c_detail {
  margin-top: 20px;
  width: 900px;
}
.s_caption .caption .c_detail h3 {
  font-size: 18px;
  line-height: 50px;
}
.s_caption .caption .c_detail h3 span {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 8px solid #0f99f4;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
.s_caption .caption .c_detail p {
  font-size: 16px;
  color: grey;
  line-height: 30px;
}
.s_online {
  width: 100%;
}
.s_online .banner {
  width: 100%;
}
.s_online .banner img {
  width: 100%;
  height: 380px;
}
.s_online .online form {
  margin: 30px auto;
  width: 800px;
}
.s_online .online form .form-group {
  padding: 20px 40px;
  position: relative;
}
.s_online .online form .form-group input {
  width: 600px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}
.s_online .online form .form-group span {
  width: 20px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: red;
}
.s_online .online form .form-group .star {
  position: absolute;
  top: 25px;
  left: 715px;
}
.s_online .online form .form-group .text {
  position: absolute;
  top: 25px;
  left: 35px;
  display: inline-block;
  height: 120px;
}
.s_online .online form .form-group textarea {
  margin-left: 65px;
  width: 600px;
  max-width: 600px;
  height: 120px;
  font-size: 16px;
  line-height: 30px;
}
.s_online .online form .tip {
  display: none;
  margin: 0 auto;
  width: 650px;
  height: 30px;
  color: red;
  line-height: 30px;
  text-align: center;
  background-color: #fbfcbe;
}
.s_online .online form .submit {
  cursor: pointer;
  display: inline-block;
  margin: 20px 250px;
  width: 300px;
  height: 40px;
  color: white;
  line-height: 40px;
  text-align: center;
  border: none;
  background-color: #44abf5;
}
.s_vip {
  width: 100%;
}
.s_vip .banner {
  width: 100%;
}
.s_vip .banner img {
  width: 100%;
  height: 380px;
}
.s_vip .vip {
  padding-top: 250px;
  margin: 0 auto;
  width: 900px;
  height: 400px;
}
.s_vip .vip h1 {
  font-size: 48px;
  font-weight: 100;
  color: grey;
  text-align: center;
}
.join .joinUs {
  position: relative;
  margin: 0 auto;
  width: 1000px;
}
.join .joinUs .j_header {
  margin: 0 auto;
  width: 300px;
  height: 150px;
  background-color: white;
}
.join .joinUs .j_header h2 {
  padding-top: 30px;
  font-size: 28px;
  font-weight: 100;
  line-height: 38px;
  text-align: center;
}
.join .joinUs .j_header span {
  display: inline-block;
  margin-left: 125px;
  width: 50px;
  height: 4px;
  text-align: center;
  background-color: #0f99f4;
}
.join .joinUs .j_header p {
  font-size: 14px;
  line-height: 70px;
  text-align: center;
  color: grey;
}
.join .joinUs hr {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 71px;
  left: 0;
}
.join .joinUs .j_body {
  overflow: hidden;
  width: 980px;
  height: 600px;
  padding: 10px;
}
.join .joinUs .j_body .b_left {
  width: 240px;
  height: 300px;
  float: left;
}
.join .joinUs .j_body .b_right {
  width: 740px;
  float: left;
  height: 300px;
}
.join .joinUs .j_body .b_right p {
  color: grey;
  text-indent: 2em;
  line-height: 30px;
}
.join .joinUs .j_body .b_bottom {
  clear: both;
}
.join .joinUs .j_body .b_bottom ul {
  padding-left: 40px;
  width: 940px;
  height: 300px;
}
.join .joinUs .j_body .b_bottom ul li {
  color: grey;
  height: 40px;
}
.join .joinUs .j_body .b_bottom ul li .corner {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 8px solid #0f99f4;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
.footer {
  padding-top: 30px;
  width: 100%;
  height: 70px;
  font-size: 14px;
  color: white;
  background-color: #363636;
}
.footer p {
  text-align: center;
  line-height: 20px;
}
.footer p a {
  color: white;
}
.footer p a:hover {
  color: #0f99f4;
}
